.textNormal {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.triangleElement {
    width: 25px;
    height: 25px;
    background: linear-gradient(
        to bottom right,
        #3ebffe 0%,
        #3ebffe 50%,
        #fffbf8 50%,
        #fffbf8 100%
    );
}
